<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="container pt-4">
    <div class="row card-header bg-black-50 ">
        <div class="col ">
            <h2 class="h1 text-success text-capitalize  p-2">Search Flights</h2>
        </div>
        <div class="col ">
            <h2 class="h4 text-secondary text-end p-2" th:text="${username}"></h2>
        </div>
    </div>

    <div class="row">
            <form class="row g-3 px-4 needs-validation" action="/findFlights" method="post">
                <div class="col">
                    <label class="form-label" for="from" >From:</label>
                    <input class="form-control" type="text" id="from" name="from" required/>
                </div>
                <div class="col">
                    <label class="form-label" for="to" >To:</label>
                    <input class="form-control" type="text" id="to" name="to" required/>
                </div>

                <div class="col">
                    <label class="form-label" for="date" >DepartureDate:</label>
                    <input class="form-control" type="date"  id="date" name="departureDate" required/>
                </div>
                <div class="col">
                    <label class="form-label" for="date" ></label>
                    <input class="btn-success form-control"  type="submit" value="Search" name="Search" />
                </div>


            </form>
        </div>

    <div class="row">
        <div class="col p-3">

            <table class="table table-bordered table-striped">
                <thead class="table-secondary text-center">
                <tr>
                    <td>Departure City</td>
                    <td>Arrival City</td>
                    <td>Departure Date</td>
                    <td>Estimated Departure Time</td>
                    <td> View Flight</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="flight : ${flights}">
                    <td class="text-center" th:text="${flight.departureCity}"></td>
                    <td class="text-center" th:text="${flight.arrivalCity}"></td>
                    <td class="text-center" th:text="${flight.dateOfDeparture}"></td>
                    <td class="text-center" th:text="${flight.estimatedDepartureTime}"></td>
                    <td class="text-center"><a th:href="@{'/completeReservation?id=' +${flight.id}}" class="btn btn-warning text-decoration-none text-white"> Select</a></td>
                </tr>
                </tbody>
                <div class="text-danger h5" th:if="${#lists.isEmpty(flights)}" th:text="${noFlights}"></div>
            </table>
        </div>
    </div>

</div>
</body>
</html>